*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100%;
    background: grey;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
.container{
    padding: 30px;
    max-width: 300px;
    text-align: center;
    position: relative;
    background-color: hsl(0, 0%, 68%);
    box-shadow: rgba(90, 70, 80, 0.847)0px 19px 30px, rgba(96, 75, 79, 0.847)0px 15px 20px;
    border-radius: 10px;
    margin-top: 120px;
}
.time{
    padding: 1rem 0;
    font-size: 40px;
}

h1,p{
    color: black;
}
button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 3px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}
button:hover{
    background-color: #6a6363;
    color: black;
}
